{% extends 'tbases/base.html' %}

{% block content %}
<table class="table table-bordered">
	<tread>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Sexo</td>
			<td>Edad</td>
			<td>Fecha Rescate</td>
			<td>Adoptante</td>

		</tr>
	</tread>
	<tbody>
		{% if object_list %}
			{% for each_mascota in object_list %}
				<tr>
					<td>{{ each_mascota.id }}</td>
					<td>{{ each_mascota.nombre }}</td>
					<td>{{ each_mascota.sexo }}</td>
					<td>{{ each_mascota.edad }}</td>
					<td>{{ each_mascota.fecha_rescate }}</td>
					<td>{{ each_mascota.persona.nombre }} {{each_mascota.persona.apellidos}}</td>
					<td>
						<a class="btn btn-primary" href="{% url 'mascota:editar_mascota' each_mascota.id %}">Editar</a>
					</td>
					<td>
						<a class="btn btn-danger" href="{% url 'mascota:eliminar_mascota' each_mascota.id %}">borrar</a>
					</td>
				</tr>
			{% endfor %}
		{% else %}
			<h1>No existen registro de mascotas</h1>
		{% endif %}
		
	</tbody>
</table>
<ul class="pager">
	{% if page_obj.has_previous %}
		<li>
			<a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
		</li>
	{% endif %}
	{% if page_obj.has_next %}
		<li>
			<a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
		</li>
	{% endif %}
</ul>
{% endblock %}